* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

/* You can add global styles to this file, and also import other style files */
/* Navbar general */
.navbar {
  background: linear-gradient(90deg, #1e293b, #0f172a);
  padding: 0.8rem 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

i {
  font-size: 1.2rem;
  color: #fff;
  margin-right: 6px;
  padding-right: 8px;
  position: relative;
  top: 1px;

}

.brand-car {
  color: #fff;
  /* blanco */
  margin: 0;
}

.brand-rent {
  margin: 0;
  color: #ee923b;
  /* naranja corporativo */
}

/* You can add global styles to this file, and also import other style files */
/* Navbar general */
#navbarNav {
  margin-left: 50px;
}

/* Bot贸n Login/Register sigue a la derecha */
#authButtons {
  padding: 5px;
  margin-left: auto;
  /* empuja el bot贸n al extremo derecho */
}

/* Marca */
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}

/* Links */
.nav-link {
  color: #f8fafc;
  font-size: 1.1rem;
  margin: 0 0px;
  position: relative;
  transition: color 0.3s ease;
}

.container-fluid {
  margin-left: 15px;
  margin-right: 0;
}

.nav-link:hover {
  color: #ee8a2d;
}

/* Indicador activo */
.nav-link.active {
  color: #ee923b;
  font-weight: 600;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}

/* Bot贸n Login/Register */
#authButtons .btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease;
}

#authButtons .btn:hover {
  background-color: #ee923b;
  color: #fff;
}

/* Bot贸n Logout */
#userInfo .btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease;
}

#userInfo .btn:hover {
  background-color: #ffffff;
  color: #ffffff;
}

/* Responsive */
.navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}