<div id="nav">
  @for(item of menuOptions; track item.router) {
    <a [routerLink]="item.router" [routerLinkActive]="['active-link']" class="menu-link">
      <div>
        <i [class]="item.icon"></i>
      </div>
      <div>
        <span>{{ item.label }}</span>
        <span class="secondary-text">{{ item.subLabel }}</span>
      </div>
    </a>
  }

  @for (key of gifService.searchHistoryKeys(); track key) {
    <a [routerLink]="['/dashboard/history', key]" [routerLinkActive]="['active-link']" class="menu-link">
      <div>
        <i class="fa-solid fa-clock-rotate-left"></i>
      </div>
      <div>
        <span>{{ key }}</span>
      </div>
    </a>
  }

</div>