:host {
  display: block;
}

#nav {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Estilo base para enlaces */
.menu-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #334155;
  text-decoration: none;
  background-color: transparent;
  /* por defecto */
  transition: background-color 150ms linear;
}

/* Hover */
.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Texto principal */
.menu-link .flex-col span:first-child {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: #cbd5e1;
  /* gris claro */
}

/* Texto secundario */
.menu-link .flex-col span:last-child {
  font-size: 0.875rem;
  color: #64748b;
  display: none;
}

@media (min-width: 768px) {
  .menu-link .flex-col span:last-child {
    display: block;
  }
}

/* Íconos */
.menu-link i {
  color: #cbd5e1;
  margin-right: 0;
  padding-right: 1rem;
}

/* Enlace activo */
.active-link {
  background-color: #1e40af;
  width: calc(100% - 4rem);
}

.active-link i,
.active-link .flex-col span:first-child,
.active-link .flex-col span:last-child {
  color: white;
  /* texto e íconos blancos */
}