:host {
  display: block;
}

/* Contenedor de la galería */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* grid-cols-2 */
  gap: 1rem; /* gap-4 = 16px */
}

@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr); /* md:grid-cols-3 */
  }
}