<div class="game-container">
  <h1>Memory Game</h1>
  <div class="cards-grid">
    <div *ngFor="let card of cards" class="cards">
      <div 
        (click)="flipCard(card)"
        [class]="card.flipped || card.matched ? 'flipped' : 'noflipped'">
        {{ card.flipped || card.matched ? card.imageUrl : '' }}
      </div>
    </div>
  </div>

  @if (victory()) {
    <div class="popup">
      <div class="confetti"></div>
      <div class="popup-content">
        <h2>Victory!</h2>
        <button class="restart" (click)="resetGame()">Play again</button>
      </div>
    </div>
  }

</div>


