h1 {
  font: bold;
  font-size: 2rem;
  margin-bottom: 40px;

}

.game-container {
  width: 700px;
  height: 700px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  background-color: #fef6e4;
  border: #e7dfcc solid 2px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 4px
}

.cards,
.flipped,
.noflipped {
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.flipped {
  background-color: white;
  border: solid 2px #000000;
}

.noflipped {
  background-color: #f582ae;
  border: solid 2px #ee417d;
}